
.Event_head {
    color: rgb(44, 30, 135);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 5px;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.event_details {
    min-height: 300px;
    width: 70vw;
    margin: 20px 5px;
    border-radius: 10px;
    padding: 15px;
    background: rgb(17, 43, 48);
    background: linear-gradient(90deg, rgba(17, 43, 48, 1) 0%, rgba(31, 168, 160, 0.8884803921568627) 25%, rgba(62, 203, 185, 0.8688725490196079) 40%, rgba(26, 245, 209, 0.7708333333333334) 49%, rgba(0, 212, 255, 1) 100%);
    color: wheat;
}

.event_li {
    color: white;
    margin: 5px 15px;
}

li h3 {
    font-size: calc(2.5vw + 20px);
}

li p {
    font-size: 22px;
}

.event_details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event_img {
    min-width: 350px;
}

.eve_img {
    width: calc(220px + 20vw);
    max-height: 300px;
    border-radius: 10px;
}

@media screen and (max-width:750px) {
    .event_details {
        flex-wrap: wrap-reverse;
    }
}

.event_description {
    width: 450px;
}

.event_details:nth-child(odd) {
    flex-direction: row-reverse;
}

.event_details:nth-child(even) {
    flex-direction: row;
}
.event_main{
    margin: auto;
    padding: auto;
}